<div class="main-page">
    <h1 style="font-weight: 300; font-size: 45px;">
      Welcome to myFlix!
    </h1>
    <div>
      <button 
      mat-raised-button
      (click)="openUserRegistrationDialog()"
      style="margin-right: 10px; margin-top: 100px;"
      color="primary">Sign Up!
    </button>
    <button
      mat-raised-button
      (click)="openUserLoginDialog()"
      style="margin-right: 10px; margin-top: 100px;"
      color="primary">Log In!
    </button>

    </div>
    
    
  
  