<div id="main-container" style="background-color: white; height: 100%;">
  <app-navbar></app-navbar>
<div class="user-profile-wrapper">
  
<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h2>Hello {{ user.Username }}</h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
        <p><b>Username</b>: {{ user.Username }}</p>
        <p><b>Password: ********</b></p>
        <p><b>Email</b>:{{ user.Email }}</p>
    </mat-card-content>  
    <mat-card-actions>
      <button
        class="float-right"
        mat-raised-button
        color="primary"
        (click)="openEditProfileDialog()"
      >
      Edit Profile</button>
      <button
        class="float-right"
        mat-raised-button
        color="warn"
        (click)="deleteProfile()">Delete</button>
    </mat-card-actions>
</mat-card>
</div>

<h1>Favorite Movies</h1>
<div>
  <div *ngFor="let fav of favoriteMovies">
    <h2>{{fav.Title}}</h2>
    <img src={{fav.Imagepath}} />
    <button mat-raised-button color="warn" (click)="removeFromFavs(fav._id, fav.Title)">Remove from Favorites</button>
  </div>
</div>



</div>




